.elementContainer {
  position: relative;
}
.focusedElement {
  &:focus {
    outline: 2px solid var(--red) !important;
    outline-offset: 0px;
  }
}
.inputField {
  outline: none !important;
}
.label {
  border: 2px solid transparent;
  &:focus-within {
    border: 2px solid var(--red) !important;
  }
  &:focus-visible {
    outline: none;
  }
}
