@mixin font {
  font-family: Open Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.focusedElement {
  padding: 0.75rem 0.813rem;
  @include font;
  &:focus {
    outline: 2px solid var(--red) !important;
    outline-offset: 0px;
  }
}
.buttonElement {
  @include font;
  padding: 0.75rem 0.813rem;
  background: var(--blue);
  color: var(--white);
  border: none;
  &:focus {
    outline: 2px solid var(--red) !important;
    outline-offset: 0px;
  }
}
.inputField {
  outline: none !important;
}
.label {
  @include font;
  border: 2px solid transparent;
  &:focus-within {
    border: 2px solid var(--red) !important;
  }
  &:focus-visible {
    outline: none;
  }
}
