.mainContainer {
  display: grid;
  gap: 0.313rem;
  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: var(--white);
    line-height: normal;
    margin: 0;
  }
  .listItem {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0.75rem 0.688rem 0.313rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    background: var(--white);
    border-radius: 4px;
  }
}
